@{
    ViewData["Title"] = "Contact";
}

<address>
    <h4>The Dojo</h4>
    <h4>Post-Apocalypse</h4>
</address>

<address>
    <strong>Support:</strong>Tech support was over taken by the zombies first. The last remaining support technician is available at <a href="/">the play screen.</a> Good luck getting any answers out of him...<br />
</address>
